<%- model_class = Hack -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:product_owner) %></th>
      <th><%= model_class.human_attribute_name(:backlog_location) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @hacks.each do |hack| %>
      <tr>
        <td><%= link_to hack.name, hack_path(hack) %></td>
        <td><%= hack.description %></td>
        <td><%= mail_to(hack.product_owner,hack.product_owner) %></td>
        <td><%= link_to(hack.backlog_location,hack.backlog_location) %></td>
        <td><%=l hack.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_hack_path(hack), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      hack_path(hack),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_hack_path,
            :class => 'btn btn-primary' %>
