<%- model_class = Hack -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @hack.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @hack.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:product_owner) %>:</strong></dt>
  <dd><%= @hack.product_owner %></dd>
  <dt><strong><%= model_class.human_attribute_name(:backlog_location) %>:</strong></dt>
  <dd><%= link_to(@hack.backlog_location) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:repo_url) %>:</strong></dt>
  <dd><%= link_to(@hack.repo_url) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:hipchat_room) %>:</strong></dt>
  <dd><%= @hack.hipchat_room %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              hacks_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_hack_path(@hack), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              hack_path(@hack),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
